{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'authe/css/edit_profile.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    
    <header class="header container">
        <!-- Your header code here -->
    </header>

    <section class="container page">
      <div class="page-content">
        <div class="page-header">
          <h2>Edit Profile</h2>
        </div>

        <div class="edit-profile-form">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <!--BIO-->
            <div class="form-group">
              <label for="bio">Bio:</label>
              <textarea id="bio" name="bio">{% if user_profile.bio %}{{user_profile.bio}}{% else %}{% endif %}</textarea>
            </div>
            <!--BIO-->
            <!--AVATAR-->
            <div class="form-group">
                <label for="avatar">Avatar:</label>
                <input type="file" id="avatar" name="avatar" value="{% if user_profile.avatar %}{{user_profile.avatar}}{% else %}{% endif %}">
            </div>
            <!--AVATAR-->
            <button type="submit" class="button">Save Profile</button>
          </form>
        </div>
      </div>

      <div class="page-info">

      </div>
    </section>
  </body>
</html>