{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'authe/css/edit_profile.css' %}">
</head>
<body>
    
    <header class="header container">
        <!-- Your header code here -->
    </header>

    <section class="container page">
      <div class="page-content">
        <div class="page-header">
          <h2>Edit Profile</h2>
        </div>

        <div class="edit-profile-form">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <div class="form-group">
              <label for="bio">Bio:</label>
              <textarea id="bio" name="bio">{{ user.profile.bio }}</textarea>
            </div>
            <div class="form-group">
                <label for="avatar">Avatar:</label>
                <input type="file" id="avatar" name="avatar">
            </div>
            <button type="submit" class="button">Save Profile</button>
          </form>
        </div>
      </div>

      <div class="page-info">

      </div>
    </section>
  </body>
</html>
