{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'decode_blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/user.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/newblog.css' %}">
  <link rel="stylesheet" href="{% static 'authe/css/signup.css' %}">
</head>
<body>
    
    <header class="header container">
      {% for m in menu %}
      <div class="header-logo">
          <a href="{% url 'decode_blog:home' %}">{{ m.title }}</a>  
      </div>
      {% endfor %}
      <div class="header-search">
        <form action="{% url 'decode_blog:search_action' %}" class="display-form">
          <input type="search" class="input-search" placeholder="Поиск по блогам" name="search">
          <button type="submit" class="button button-search">
            <img src="{% static 'decode_blog/images/search.svg' %}" alt="">  
            Найти
          </button>
        </form>
      </div>
      <div>

        {% if request.user.is_authenticated %}
              <div class="button-group">
                <a href="{% url 'authe:profile' %}">
                  <!-- <p>Добавить аватарку</p> -->
                <!-- <img class="avatar" src="{% static 'decode_blog/images/avatar.png' %}" alt="Avatar"> -->
                </a>
                <a href="{% url 'authe:signout' %}" class="button2">Выход</a>
              </div>
            {% else %}
            <div class="button-group">
              <a href="{% url 'authe:signup' %}" class="button">Регистрация</a>
              <a href="{% url 'authe:signin' %}" class="button">Вход</a>
            </div>
            {% endif %}

      </div>
    </header>

    <section class="container page">
      <div class="page-content">
        <div class="page-header">
          <h2>Мои блоги</h2>

          <a class="button blog-a" href="{% url 'decode_blog:newblog' %}">Новый блог</a>
    
        </div>

        <div class="blogs">
          {% for newblog in posts %}
          <div class="blog-item">
            {% if newblog.image %}
              <img class="blog-item--img" src="{{ newblog.image.url }}" alt="">
            {% endif %}
            <div class="blog-header">
              <p class="blog-header-p">{{ newblog.name }}</p>
              <span class="link">
                <img src="{% static 'decode_blog/images/dots.svg' %}" alt="">
                Еще
                <ul class="dropdown">
                  <li> <a href="{% url 'decode_blog:edit-blog' newblog.id %}">Редактировать</a> </li>
                  <li><a href="{% url 'decode_blog:delete_blog' newblog.id %}" class="danger">Удалить</a></li>
                </ul>
              </span>
    
            </div>
            <p class="blog-desc">
              {{ newblog.description }}
            </p>
    
            <div class="blog-info">
              <span class="link">
                <img src="{% static 'decode_blog/images/date.svg' %}" alt="">
                {{ newblog.date }}
              </span>
              <span class="link">
                <img src="{% static 'decode_blog/images/visibility.svg' %}" alt="">
                21
              </span>
              <span class="link">
                <img src="{% static 'decode_blog/images/forums.svg' %}" alt="">
                {{ newblog.category }}
              </span>
              <a class="link">
                <img src="{% static 'decode_blog/images/person.svg' %}" alt="">
               {{ user.username }}
              </a>
            </div>

           
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="page-info">
		<div class="user-profile">
			<img class="user-profile--ava" src="{% static 'decode_blog/images/avatar.png' %}" alt="">

			<h1>
      {{ user.username }}
      </h1>
			<h2>В основном пишу про веб - разработку, на React & Redux</h2>
			<p>285 постов за все время</p>
			<a href="{% url 'decode_blog:newblog' %}" class="button">Редактировать</a>
		</div>
	</div>


    </section>	    

  </body>
</html>
