{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'decode_blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/user.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/newblog.css' %}">
  <link rel="stylesheet" href="{% static 'authe/css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'authe/css/edit_profile.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/comment.css' %}">
</head>
<body>
    
    <header class="header container">
      {% for m in menu %}
      <div class="header-logo">
          <a href="{% url 'decode_blog:home' %}">{{ m.title }}</a>  
      </div>
      {% endfor %}
      <div class="header-search">
        <form action="{% url 'decode_blog:search_action' %}" class="display-form">
          <input type="search" class="input-search" placeholder="Поиск по блогам" name="search">
          <button type="submit" class="button button-search">
            <img src="{% static 'decode_blog/images/search.svg' %}" alt="">  
            Найти
          </button>
        </form>
      </div>
      <div>

        {% if request.user.is_authenticated %}
              <div class="button-group">
                <a href="{% url 'authe:profile' %}">
                  <!-- <p>Добавить аватарку</p> -->
                <!-- <img class="avatar" src="{% static 'decode_blog/images/avatar.png' %}" alt="Avatar"> -->
                </a>
                <a href="{% url 'authe:signout' %}" class="button2">Выход</a>
              </div>
            {% else %}
            <div class="button-group">
              <a href="{% url 'authe:signup' %}" class="button">Регистрация</a>
              <a href="{% url 'authe:signin' %}" class="button">Вход</a>
            </div>
            {% endif %}

      </div>
    </header>

    <section class="container page">
      <div class="page-content">
        <div class="page-header">
          <h2>Мои блоги</h2>

          <a class="button blog-a" href="{% url 'decode_blog:newblog' %}">Новый блог</a>
    
        </div>

        <div class="blogs">
          {% for n in newblogs %}
          <div class="blog-item">
            {% if n.image %}
              <img class="blog-item--img" src="{{ n.image.url }}" alt="">
            {% endif %}
            <div class="blog-header">
              <p class="blog-header-p">{{ n.name }}</p>
              <span class="link">
                <img src="{% static 'decode_blog/images/dots.svg' %}" alt="">
                Еще
                <ul class="dropdown">
                  <li> <a href="{% url 'authe:model-edit-blog' n.id %}">Редактировать</a> </li>
                  <li><a href="{% url 'authe:model_delete_blog' n.id %}" class="danger">Удалить</a></li>
                </ul>
              </span>
      
            </div>
            <p class="blog-desc">
              {{ n.description }}
            </p>
      
            <div class="blog-info">
              <span class="link">
                <img src="{% static 'decode_blog/images/date.svg' %}" alt="">
                {{ n.date }}
              </span>
              
              <div class="blog-info">
                <span class="link">
                <img src="{% static 'decode_blog/images/message.svg' %}" alt="">
                <a href="{% url 'decode_blog:comments-blog' n.id %}" class="blogs-comments">Посмотреть комментарии</a>
                </span>
              </div>
      
              <span class="link">
                <img src="{% static 'decode_blog/images/forums.svg' %}" alt="">
                {{ n.category }}
              </span>
      
              <a class="link">
                <img src="{% static 'decode_blog/images/person.svg' %}" alt="">
               {{ n.author }}
              </a>
            </div>
      
           
            
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="page-info">
		<div class="user-profile">
      <!--ФОТКА-->
      {% if user_profile.avatar %}
      <img class="user-profile--ava" src="{{ user_profile.avatar.url }}" alt="">
      {% else %}
      <img class="user-profile--ava" src="{% static 'decode_blog/images/avatar.png' %}" alt="">
      {% endif %}
          <!--ФОТКА-->

			<h1>
      {{ user.username }}
      </h1>
			<h2>{{ user_profile.bio }}</h2>
			<!-- <p>285 постов за все время</p> -->
			<a href="{% url 'authe:edit_profile' %}" class="button">Редактировать</a>
		</div>
	</div>


    </section>	    

  </body>
</html>