.input-search {
    border: 1px solid #E7E7E7;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    padding: 0 20px;
}

.form {
    margin-top: 30px;
}

.fieldset {
    width: 60%;
    padding: 12px 0;
}

.input {
    width: 100%;
    height: 50px;
    padding: 0 24px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.input-textarea {
    padding-top: 24px;
    padding-bottom: 24px;
    resize: none;
    height: 100px;
}

.input-file {
    position: relative;
}

.input-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: #fff;
}
.header-logo a{
    font-size: 50px;
    color: #00A2DC;
    text-decoration: none;
}

.header-search {
    display: flex;
    justify-content: center;
}

.container {
    padding: 0 8%;
}

.page {
    display: flex;
    gap: 20px;
    background-color: #F8F9FA;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 130px);
}

.auth-form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto 50px;
}

.auth-form h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.auth-form .fieldset {
    width: 100%;
}

.auth-form .button {
    width: 100%;
    text-align: center;
    display: block;
}

.authe-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.authe-form p{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.authe-form p label{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}

.authe-form p input,
.authe-form p textarea,
.authe-form p select {
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

.authe-form p textarea {
    resize: none;
}

.authe-form button {
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.authe-form .helptext,
.authe-form > ul{
    display: none;
}

