{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Профиль</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'decode_blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/comment.css' %}">
</head>
<body>


<header class="header container">
  {% for m in menu %}
      <div class="header-logo">
          <a href="{% url 'decode_blog:home' %}">{{ m.title }}</a>  
      </div>
      {% endfor %}
  <div class="header-search">
    <input type="text" class="input-search" placeholder="Поиск по блогам">
    <button class="button button-search">
      <img src="{% static 'decode_blog/images/search.svg' %}" alt="">  
      Найти
    </button>
  </div>
  <div>
    <div class="button-group">
      <!-- { if } -->
        <a href="{% url 'authe:signup' %}" class="button">Регистрация</a>
      <!-- { endif } -->
        <a href="{% url 'authe:signin' %}" class="button">Вход</a>
    </div>

  </div>
</header>

<section class="main">
  <div class="blogs">
      <div class="com-blog">
          <div class="main-info"> 
              {% if newblog.image %}
              <img src="{{ newblog.image.url }}" alt="comment-img" class="comment-img">
              {% endif %}
          </div>
          <h2 id="blog-name">{{ newblog.name }}</h2>
              <p id="description">{{ newblog.description }}</p>
              <time id="blog-date">{{ newblog.date }}</time>
              <a href="" id="blog-category">{{ newblog.category }}</a>
              <hr>
      </div>
  </div>
  <div class="categories">
      <h2 id="categories-name">Категории</h2>
      {% if category_id == 0 %}
          <a href="{% url 'decode_blog:home' %}" class="selected-ctgr">Все товары</a>
      {% else %}
          <a href="{% url 'decode_blog:home' %}">Все Блоги</a>
      {% endif %}

      {% for ctgr in categories %}
          {% if category_id == ctgr.id %}
              <a href="{% url 'decode_blog:category' ctgr.id %}" class="selected-ctgr">{{ctgr.name}}</a>
          {% else %}
              <a href="{% url 'decode_blog:category' ctgr.id %}">{{ctgr.name}}</a>
          {% endif %}
      {% endfor %}    
</section>

<section class="main-3">
  <div class="comm-details">
      {% for c in comments %}
          <div class="comment">
              <div class="comm-detail">
                  <p id="user">{{ c.user }};</p> 
                  <p>{{ c.date }}</p>
              </div>
              <p id="text">{{ c.text }}</p>
          </div>
      </div>
      {% endfor %}
      {% if request.user.is_authenticated %}
          <a href="{% url 'decode_blog:cmadd' %}" id="button-com">Добавить комментарий</a>
      {% else %}
          <a href="{% url 'authe:signin' %}" id="button-come">SignIn</a>
      {% endif %}
</section>
</body>
</html>