{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Профиль</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'decode_blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/comment.css' %}">
</head>
<body>



<header class="header container">
  {% for m in menu %}
      <div class="header-logo">
          <a href="{% url 'decode_blog:home' %}">{{ m.title }}</a>  
      </div>
      {% endfor %}
  <div class="header-search">
    <input type="text" class="input-search" placeholder="Поиск по блогам">
    <button class="button button-search">
      <img src="{% static 'decode_blog/images/search.svg' %}" alt="">  
      Найти
    </button>
  </div>
  <div>
    
    <div class="button-group">
      <!-- { if } -->
        <a href="{% url 'authe:signup' %}" class="button">Регистрация</a>
      <!-- { endif } -->
        <a href="{% url 'authe:signin' %}" class="button">Вход</a>
    </div>
  </div>
</header>

<section class="container page">
  <div class="page-content">
    <h2 class="page-title">Блоги по программированию</h2>
        <p class="page-desc">Популярные и лучшие публикации по программированию для начинающих
   и профессиональных программистов и IT-специалистов.</p>
    <div class="blogs">
      <div class="blog-item">
        {% if newblog.image %}
        <img class="blog-item--img" src="{{ newblog.image.url }}" alt="">
        {% endif %}
          <div class="blog-info">
          <span class="link">
            <img src="{% static 'decode_blog/images/date.svg' %}" alt="">
            {{ newblog.date}}
          </span>
          
          <!-- <a class="link">
            <img src="{% static 'decode_blog/images/message.svg' %}" alt="">
            4
          </a> -->
          <span class="link">
            <img src="{% static 'decode_blog/images/forums.svg' %}" alt="">
            {{ newblog.category }}
          </span>
          <a class="link">
            <img src="{% static 'decode_blog/images/person.svg' %}" alt="">
            {{ newblog.uesername }}
          </a>
        </div>

        <div class="blog-header">
          <h3>{{ newblog.name }}</h3>
        </div>
        <p class="blog-desc">
          {{ newblog.description }}
        </p>
      </div>
    </div>

        <div class="comments">
            <h2>
                2 комментариея
            </h2>

            <div class="comment">
              {% for c in comments %}
                <div class="comment-header">
                    <img src="{% static 'decode_blog/images/avatar.png' %}" alt="">
                    {{ c.user }}
                    {{ c.date }}
                </div>
                <p>
                {{ c.text }}
                </p>
            </div>
            {% endfor %}
            {% if request.user.is_authenticated %}
                      <a href="{% url 'decode_blog:cmadd' %}" id="button-com">Добавить комментарий</a>
                  {% else %}
                      <a href="{% url 'authe:signin' %}" id="button-come">SignIn</a>
                  {% endif %}

            <!-- <span class="comment-add">
                <textarea name="" class="comment-textarea" placeholder="Введит текст комментария"></textarea>
                <button class="button">Отправить</button>
            </span> -->
        </div>
  </div>

<div class="page-info">
    <div class="page-header">
            <h2>Категории</h2>
        </div>
        <a href="" class="categories">Прогнозы в IT</a>
        <a href="" class="categories">Веб-разработка</a>
        <a href="" class="categories">Мобильная разработка</a>
        <a href="" class="categories">Фриланс</a>
        <a href="" class="categories">Алгоритмы</a>
        <a href="" class="categories">Тестирование IT систем</a>
        <a href="" class="categories">Разработка игр</a>
        <a href="" class="categories">Дизайн и юзабилити</a>
        <a href="" class="categories">Искусственный интеллект</a>
        <a href="" class="categories">Машинное обучение</a>
       
  </div>
</section>  
</body>
</html>

