{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Профиль</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'decode_blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/comment.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/adaptation.css' %}">
</head>
<body>



<header class="header container">
  {% for m in menu %}
      <div class="header-logo">
          <a href="{% url 'decode_blog:home' %}">{{ m.title }}</a>  
      </div>
      {% endfor %}
  <div class="header-search">
    <input type="text" class="input-search" placeholder="Поиск по блогам">
    <button class="button button-search">
      <img src="{% static 'decode_blog/images/search.svg' %}" alt="">  
      Найти
    </button>
  </div>
  <div>
    
    <!-- <div class="button-group">
      {% if request.user.is_authenticated %}
        <a href="{% url 'authe:signup' %}" class="button">Регистрация</a>
        <a href="{% url 'authe:signin' %}" class="button">Вход</a>
      {% else %}
          <a href="{% url 'authe:profile' %}" class="button">Профиль</a>
          <a href="{% url 'authe:signout' %}" class="button">Выход</a>
      {% endif %}
    </div> -->
  </div>
</header>

<section class="container page">
  <div class="page-content">
    <h2 class="page-title">Блоги по программированию</h2>
        <p class="page-desc">Популярные и лучшие публикации по программированию для начинающих
   и профессиональных программистов и IT-специалистов.</p>
    <div class="blogs">
      <div class="blog-item">
        {% if newblog.image %}
        <img class="blog-item--img" src="{{ newblog.image.url }}" alt="">
        {% endif %}
        <div class="blog-header">
          <h3>{{ newblog.name }}</h3>
        </div>
        <p class="blog-desc">
          {{ newblog.description }}
        </p>
          <div class="blog-info">
          <span class="link">
            <img src="{% static 'decode_blog/images/date.svg' %}" alt="">
            {{ newblog.date}}
          </span>
          
          <!-- <a class="link">
            <img src="{% static 'decode_blog/images/message.svg' %}" alt="">
            4
          </a> -->
          <span class="link">
            <img src="{% static 'decode_blog/images/forums.svg' %}" alt="">
            {{ newblog.category }}
          </span>
          <a class="link">
            <img src="{% static 'decode_blog/images/person.svg' %}" alt="">
            {{ newblog.author }}
          </a>
        </div>

        
      </div>
    </div>

        <div class="comments">
            <h2>
                {{ comments.count }} комментарий
            </h2>
            {% for c in comments %}
<div class="comment">
    <div class="comment-header">
        <img src="{% static 'decode_blog/images/avatar.png' %}" alt="">
        {{ c.user }}
    </div>
    {% if request.user == c.user %}
    <p class="comment-warning">
        {{ c.text }}
        <a href="{% url 'decode_blog:edit_comment' comment_id=c.id %}">&#10000;</a>
      </p>

    </p>
    {% else %}
    <p class="comment-warning">
        {{ c.text }}
    </p>
    {% endif %}
</div>
{% endfor %}
            {% if request.user.is_authenticated %}
            <form class="comment-add" action="{% url 'decode_blog:testcomadd' %}" method="post">
              {% csrf_token %}
                <textarea name="comment-text" class="comment-textarea" placeholder="Введит текст комментария"></textarea>
                <input type="hidden" name="blog_id" value="{{ newblog.id }}">
                <button type="submit" class="button">Отправить</button>
            </form>
                      <!-- <a href="{% url 'decode_blog:cmadd' %}" id="button-com">Добавить комментарий</a> -->
                  {% else %}
                    <p>Что бы оставить комментарий вам необходимо пройти регистрацию</p>
                      <a href="{% url 'authe:signup' %}" id="button-com">Регистрация</a>
                  {% endif %}

          
        </div>
      
  </div>

<div class="page-info">
    <div class="page-header">
            <h2>Категории</h2>
        </div>
        {% if category_id == 0 %}
                <a href="{% url 'decode_blog:home' %}" class="categories"></a>
            {% else %}
                <a href="{% url 'decode_blog:home' %}" class="categories">Все Блоги</a>
            {% endif %}

            {% for ctgr in categories %}
                  {% if category_id == ctgr.id %}
                    <a href="{% url 'decode_blog:category' ctgr.id %}" class="categories" >{{ctgr.name}}</a>
                {% else %}
                    <a href="{% url 'decode_blog:category' ctgr.id %}" class="categories" >{{ctgr.name}}</a>
                {% endif %}
            {% endfor %}   
  </div>
</section>  
</body>
</html>

