{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'decode_blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/comment.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/adaptation.css' %}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
</head>
<body>
    
  <header class="header container">
    <div class="header-logo">
      <a href="">Decode Blog</a>
    </div>
    <div class="header-search">
      <form action="{% url 'decode_blog:search_h' %}" class="display-form">
        <input type="search_h" class="input-search" placeholder="Поиск по блогам" name="search_h">
        <button type="submit" class="button button-search">
          <img src="{% static 'decode_blog/images/search.svg' %}" alt="">
          Найти
        </button>
      </form>
    </div>
    <div>
      <div class="button-group">
        {% if request.user.is_authenticated %}
        <a href="{% url 'authe:profile' %}" class="button ">Профиль</a>
        <a href="{% url 'authe:signout' %}" class="button ">Выход</a>
        {% else %}
        <a href="{% url 'authe:signup' %}" class="button ">Регистрация</a>
        <a href="{% url 'authe:signin' %}" class="button ">Вход</a>
        {% endif %}
      </div>
    </div>
  </header>
  
  <div class="header-categories">
    <button class="categories-toggle">&#9776;</button>
    <div class="categories-dropdown">

      {% if category_id == 0 %}
        <a href="{% url 'decode_blog:home' %}" class="categories">Все Блоги</a>
      {% else %}
        <a href="{% url 'decode_blog:home' %}" class="categories">Все Блоги</a>
      {% endif %}
      {% for ctgr in categories %}
        <a href="{% url 'decode_blog:category' ctgr.id %}" class="categories">{{ ctgr.name }}</a>
      {% endfor %}
    </div>
  </div>
  

    </header>
    <section class="container page">
      <div class="page-content">
        <h2 class="page-title">Блоги по программированию</h2>
        <p class="page-desc">Популярные и лучшие публикации по программированию для начинающих
   и профессиональных программистов и IT-специалистов.</p>
   <div class="blogs">
    {% for n in newblogs %}
<div class="blog-item">
  {% if n.image %}
    <img class="blog-item--img" src="{{ n.image.url }}" alt="">
  {% endif %}
  <div class="blog-header">
    <p class="blog-header-p">{{ n.name }}</p>
    
    {% if n.author == request.user %} {# Check if the user is the author #}
    <span class="link" data-dropdown="dropdown">
      <img src="{% static 'decode_blog/images/dots.svg' %}" alt="">
      Еще
      <ul class="dropdown">
        <li class="edit-link"> <a href="{% url 'decode_blog:edit_blog' n.id %}">Редактировать</a> </li>
        <li class="delete-link"><a href="{% url 'decode_blog:delete_blog' n.id %}" class="danger">Удалить</a></li>
      </ul>
    </span>
    {% endif %}


      </div>
      <p class="blog-desc">
        {{ n.description }}
      </p>

      <div class="blog-info">
        <span class="link  date-text">
          <img src="{% static 'decode_blog/images/date.svg' %}" alt="">
          {{ n.date }}
        </span>
        
        <div class="blog-info">
          <span class="link">
          <img src="{% static 'decode_blog/images/message.svg' %}" alt="">
          <a href="{% url 'decode_blog:comments-blog' n.id %}" class="blogs-comments">Комментарий</a>
          </span>
        </div>

        <span class="link category-text">
          <img src="{% static 'decode_blog/images/forums.svg' %}" alt="">
          {{ n.category }}
        </span>

        <a class="link author-text">
          <img src="{% static 'decode_blog/images/person.svg' %}" alt="">
         {{ n.author }}
        </a>
      </div>

     
      
    </div>
    {% endfor %}
  </div>
</div>

      
      <div class="page-info">
          <div class="page-header">
                <h2>Категории</h2>
              </div> 
                  {% if category_id == 0 %}
                <a href="{% url 'decode_blog:home' %}" class="categories"></a>
            {% else %}
                <a href="{% url 'decode_blog:home' %}" class="categories">Все Блоги</a>
            {% endif %}

            {% for ctgr in categories %}
                  {% if category_id == ctgr.id %}
                    <a href="{% url 'decode_blog:category' ctgr.id %}" class="categories" >{{ctgr.name}}</a>
                {% else %}
                    <a href="{% url 'decode_blog:category' ctgr.id %}" class="categories" >{{ctgr.name}}</a>
                {% endif %}
            {% endfor %}   
          
      </div>
    </section>  
    

  <script src="{% static 'decode_blog/js/style.js' %}"></script>
</body>
</html>
