{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'decode_blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'decode_blog/css/comment.css' %}">
</head>
<body>
    
    <header class="header container">
      <div class="header-logo">
          <a href="">Decode Blog</a>  
      </div>
      <div class="header-search">
        <form action="{% url 'decode_blog:search_h' %}" class="display-form">
          <input type="search_h" class="input-search" placeholder="Поиск по блогам" name="search_h">
          <button type="submit" class="button button-search">
            <img src="{% static 'decode_blog/images/search.svg' %}" alt="">  
            Найти
          </button>
        </form>
      </div>
      <div>
        
            <div class="button-group">
              <!-- { if } -->
                <a href="{% url 'authe:signup' %}" class="button">Регистрация</a>
              <!-- { endif } -->
                <a href="{% url 'authe:signin' %}" class="button">Вход</a>
            </div>
    
      </div>
    </header>
    <section class="container page">
      <div class="page-content">
        <h2 class="page-title">Блоги по программированию</h2>
        <p class="page-desc">Популярные и лучшие публикации по программированию для начинающих
   и профессиональных программистов и IT-специалистов.</p>
   <div class="blogs">
    {% for n in newblogs %}
    <div class="blog-item">
      {% if n.image %}
        <img class="blog-item--img" src="{{ n.image.url }}" alt="">
      {% endif %}
      <div class="blog-header">
        <p class="blog-header-p">{{ n.name }}</p>
        <span class="link">
          <img src="{% static 'decode_blog/images/dots.svg' %}" alt="">
          Еще
          <ul class="dropdown">
            <li> <a href="{% url 'decode_blog:newblog' %}">Редактировать</a> </li>
            <li><a href="" class="danger">Удалить</a></li>
          </ul>
        </span>

      </div>
      <p class="blog-desc">
        {{ n.description }}
      </p>

      <div class="blog-info">
        <span class="link">
          <img src="{% static 'decode_blog/images/date.svg' %}" alt="">
          {{ n.date }}
        </span>
        
        <div class="blog-info">
          <span class="link">
          <img src="{% static 'decode_blog/images/message.svg' %}" alt="">
          <a href="{% url 'decode_blog:comments-blog' n.id %}" class="blogs-comments">Посмотреть комментарии</a>
          </span>
        </div>

        <span class="link">
          <img src="{% static 'decode_blog/images/forums.svg' %}" alt="">
          {{ n.category }}
        </span>

        <a class="link">
          <img src="{% static 'decode_blog/images/person.svg' %}" alt="">
         {{ n.username }}
        </a>
      </div>

     
    </div>
    {% endfor %}
  </div>
</div>

      
      <div class="page-info">
            <div class="page-header">
                <h2>Категории</h2>
            </div>
            <a href="" class="categories">Прогнозы в IT</a>
            <a href="" class="categories">Веб-разработка</a>
            <a href="" class="categories">Мобильная разработка</a>
            <a href="" class="categories">Фриланс</a>
            <a href="" class="categories">Алгоритмы</a>
            <a href="" class="categories">Тестирование IT систем</a>
            <a href="" class="categories">Разработка игр</a>
            <a href="" class="categories">Дизайн и юзабилити</a>
            <a href="" class="categories">Искусственный интеллект</a>
            <a href="" class="categories">Машинное обучение</a>
            
            
      </div>
    </section>  
    
</body>
</html>
